{extend name="index/layout/basic" /}


{block name="content"}
<nav class="navbar mr0 mb0 bg-header" id="navbar">
    <div class="container">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnav" aria-expanded="false"><span class="sr-only">Toggle navigation</span> <span class="icon-circle-down"></span></button>
            <a class="navbar-brand nopadding" href="/"><img src="/static/index/default/img/logo.png" alt="源码交易平台_www.wazyb.com"/></a>
        </div>
        <div class="collapse navbar-collapse" id="topnav">
            <ul class="nav navbar-nav" id="navbar-nav">
                <li class="active"><a href="/"><span class="icon-home"></span> 网站首页</a></li>
            </ul>
            <form role="search" class="navbar-form navbar-right search hidden-xs" method="GET" action="/index.php" id="search_form">
                <div class="input-group">
                    <input class="form-control" id="search_keyword" type="text" name="keyword" value="" aria-describedby="submitso" />
                    <input type="hidden" name="mid" value="2" />
                    <input type="hidden" name="u" value="search-index" />
                    <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="icon-search"></i></button></span>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container mt20">
    <div class="row clearfix" style="padding-bottom:20px;">
        <div class="col-sm-2 mt20 mb20">
            <div class="list-group">
                <a href="#" class="list-group-item active disabled">管理导航</a>
                <a class="list-group-item " href="/index/buyer/order/index"><span class="icon-list"></span> 我的购买</a>

                <a class="list-group-item " href="/index/user/feedbackConsult/index"><span class="icon-credit-card"></span>意见反馈列表</a>
                <!--<a class="list-group-item " href="/index/user/feedbackConsult/add"><span class="icon-credit-card"></span>意见反馈添加</a>-->
                <!--<a class="list-group-item " href="/index/user/feedbackConsult/add"><span class="icon-credit-card"></span>意见反馈添加</a>-->
                <!--<a class="list-group-item " href="/index/user/topUp"><span class="icon-coin-yen"></span>  在线充值</a>-->
                <!--<a class="list-group-item " href="/index/user/withdraw"><span class="icon-pig"></span>  快速提现</a>-->

            </div>

            <div class="list-group">
                <a href="#" class="list-group-item active disabled">意见反馈</a>
                <a class="list-group-item " href="/index/buyer/order/index">
                    <span class="icon-list"></span> 联系管理员
                </a>

            </div>

            <div class="list-group">
                <a href="#" class="list-group-item active disabled">聊天列表</a>

                <?php foreach($house as $h):?>

                <a class="list-group-item" data-houseid="{$h['id']}" href="/index/buyer/order/index">
                    {$h['user_name']}
                </a>

                <?php endforeach;?>


            </div>
        </div>
        <div class="col-sm-10 mt20">
            <style>
                .btn-group{position: relative;}
                .btn-group #qdfaq{position: absolute;top:11px;right:11px;}
            </style>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-success text-center" role="alert">{$user["account"]}　欢迎回来！</div>
                    <div class="text-center" style="margin-bottom: 30px">
                        <a href="javascript:void(0)" class="btn-danger btn communicate_chat_content"> 添加评论</a>
                    </div>
                </div>

                <div class="row item_list mt20">
                    <?php foreach($chatInfo as $v):?>
                    <div class="col-sm-12">
                        <div class="panel panel-default push_content">
                            <div class="panel-body1 " style="padding: 0px 10px">
                                <?php if ($v['user_id'] == $user['id']):?>
                                    <h4 style="text-align: left">
                                        本人
                                        <span style="display: inline-block;font-style: normal;font-size: 12px;font-weight: normal">{$v['create_time']}</span>
                                    </h4>
                                <?php else: ?>
                                    <h4 style="text-align: right">
                                        <span style="display: inline-block;font-style: normal;font-size: 12px;font-weight: normal">{$v['create_time']}</span>
                                        <?php echo $v['user_type'] == 1 ? "对方" : "管理员";?>
                                    </h4>

                                <?php endif;?>

                            </div>
                            <div class="panel-footer">
                                <div class="clearfix">
                                    <div class="pull-left" style="padding: 0 30px;">
                                        {$v['chat_content']}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <?php endforeach;?>

                </div>


            </div>


        </div>
    </div>
</div>
<div style="margin-bottom: 200px">

</div>
<footer class="footer mt20">
    <div class="container">
        <p class="text-center small">
            Copyright &copy; 2020 <a href="http://www.wazyb.com/">源码交易平台_www.wazyb.com</a> ALL RIGHT RESERVED
        </p>
    </div>
</footer>



{/block}


{block name="script"}


<script>


    // 当前房间
    var chat_house_id = "<?php echo $firstHouse['id']; ?>";

    $(document).ready(function(){


        $(".communicate_chat_content").on('click', function () {

            layer.prompt({title: '请输入反馈内容！', formType: 2}, function(text, index){
                text = $.trim(text);
                if (text == '') {
                    layer.alert("内容不能为空！");
                    return false;
                }

                $.ajax({
                    type: 'post',
                    url:  "/index/friendChat/chat/add",
                    dataType: 'json',
                    data: {
                        chat_house_id: chat_house_id,
                        chat_content: text,
                    },
                    success: function(ret){
                        console.log(ret);
                        if(ret.code == 0) {
                            layer.msg('提交成功！',{
                                time:1000, icon: 6,
                                end:function () {
                                    location.href = location.href;
                                }
                            })
                        } else {
                            layer.msg(ret.msg, {icon: 5,time:1000,});
                            return false;
                        }
                    }
                });
                // layer.msg('演示完毕！您最后写下了：'+text);
            });
        });

        $('#sms_btn').click(function (){
            layer.open({
                type: 1,
                title: ['绑定手机号码', 'font-weight:bold;color:green'],
                area: '500px',
                btn: ['提交验证', '取消'],
                yes: function(index, layero){
                    if($('#code').val().length == '') {
                        layer.msg('验证码不能为空', function(){});
                        return false;
                    }
                    $.ajax({
                        url: '/member/index.php?u=public-sms_active',
                        type: 'POST',
                        data:{'code':$('#code').val(),'mobile':$('#mobile').val(),'rnum':Math.random()},
                        dataType: 'json',
                        success: function(res){
                            if(res.err==0){
                                layer.msg(res.msg, {icon: 1,time: 2000,shade: 0.6}, function(){window.location.reload();});
                            }else{
                                layer.msg(res.msg, function(){});
                            }
                        }
                    });
                },cancel: function(index){
                },
                shadeClose: true,
                scrollbar: false,
                content: $('#active_sms')
            });
        });
        $('#email_btn').click(function (){
            layer.open({
                type: 1,
                title: ['绑定电子邮箱', 'font-weight:bold;color:green'],
                area: '500px',
                shadeClose: true,
                scrollbar: false,
                content: $('#active_email')
            });
        });
        $('#submit_email').click(function (){
            if($('#email').val().length == '') {
                layer.msg('邮箱地址不能为空', function(){});
                return false;
            }
            $.ajax({
                url: '/member/index.php?u=public-send_email_code',
                type: 'POST',
                data:{'email':$('#email').val(),'username':'aaaaaa','rnum':Math.random()},
                dataType: 'json',
                success: function(res){
                    if(res.err==0){
                        layer.msg(res.msg);
                    }else{
                        layer.msg(res.msg);
                    }
                }
            });
            var count = 60;
            var countemail = setInterval(CountDown_email, 1000);
            function CountDown_email() {
                $("#submit_email").attr("disabled", true);
                $("#submit_email").val(count + " 秒后可重发");
                if (count == 0) {
                    $("#submit_email").val("重新发送").removeAttr("disabled");
                    clearInterval(countemail);
                }
                count--;
            }
        });
        $('#sendcode').click(function (){
            if($('#mobile').val().length == '') {
                layer.msg('手机号码不能为空', function(){});
                return false;
            }
            $.ajax({
                url: '/member/index.php?u=public-send_sms_code',
                type: 'POST',
                data:{'mobile':$('#mobile').val(),'username':'aaaaaa','rnum':Math.random()},
                dataType: 'json',
                success: function(res){
                    if(res.err>1){
                        $("#mobile").attr("readonly", true);
                        layer.msg(res.msg);
                    }else{
                        layer.msg(res.msg);
                        return false;
                    }
                }
            });
            $("#sendcode").attr("disabled", true);
            var count = 60;
            var countdown = setInterval(CountDown_sms, 1000);
            function CountDown_sms(){
                $("#sendcode").attr("disabled", true);
                $("#sendcode").val(count + " 秒后可重发");
                if (count == 0) {
                    $("#sendcode").val("重新发送").removeAttr("disabled");
                    $("#mobile").removeAttr("readonly");
                    clearInterval(countdown);
                }
                count--;
            }
        });
    });

</script>


{/block}
