{extend name="index/layout/basic" /}


{block name="content"}

<style>
    .load_content .title_name {
        padding: 0px 10px;
    }
    .text_left {
        text-align: left
    }
    .text_right {
        text-align: right;
    }
    .date_decorate {
        display: inline-block;
        font-style: normal;
        font-size: 12px;
        font-weight: normal
    }
    .body_content {
        padding: 0 30px;
    }
    .bg_white {
        background-color: #fff!important;
    }
</style>



<nav class="navbar mr0 mb0 bg-header" id="navbar">
    <div class="container">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnav" aria-expanded="false"><span class="sr-only">Toggle navigation</span> <span class="icon-circle-down"></span></button>
            <a class="navbar-brand nopadding" href="/"><img src="/static/index/default/img/logo.png" alt="源码交易平台_www.wazyb.com"/></a>
        </div>
        <div class="collapse navbar-collapse" id="topnav">
            <ul class="nav navbar-nav" id="navbar-nav">
                <li class="active"><a href="/"><span class="icon-home"></span> 网站首页</a></li>
            </ul>
            <form role="search" class="navbar-form navbar-right search hidden-xs" method="GET" action="/index.php" id="search_form">
                <div class="input-group">
                    <input class="form-control" id="search_keyword" type="text" name="keyword" value="" aria-describedby="submitso" />
                    <input type="hidden" name="mid" value="2" />
                    <input type="hidden" name="u" value="search-index" />
                    <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="icon-search"></i></button></span>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container mt20">
    <div class="row clearfix" style="padding-bottom:20px;">
        <div class="col-sm-2 mt20 mb20">
            <div class="list-group">
                <a href="#" class="list-group-item active disabled">管理导航</a>
                <a class="list-group-item " href="/index/buyer/order/index"><span class="icon-list"></span> 我的购买</a>

                <a class="list-group-item " href="/index/user/feedbackConsult/index"><span class="icon-credit-card"></span>意见反馈列表</a>
                <!--<a class="list-group-item " href="/index/user/feedbackConsult/add"><span class="icon-credit-card"></span>意见反馈添加</a>-->
                <!--<a class="list-group-item " href="/index/user/feedbackConsult/add"><span class="icon-credit-card"></span>意见反馈添加</a>-->
                <!--<a class="list-group-item " href="/index/user/topUp"><span class="icon-coin-yen"></span>  在线充值</a>-->
                <!--<a class="list-group-item " href="/index/user/withdraw"><span class="icon-pig"></span>  快速提现</a>-->

            </div>

            <div class="list-group">
                <a href="#" class="list-group-item active disabled">意见反馈</a>
                <a class="list-group-item " href="/index/user/feedbackConsult/index">
                    <span class="icon-list"></span> 联系管理员
                </a>

            </div>

            <div class="list-group">
                <a href="#" class="list-group-item active disabled">聊天列表</a>

                <?php foreach($house as $h):?>

                <a class="list-group-item" data-houseid="{$h['id']}" href="/index/friendChat/index?cur_house_id={$h['id']}">
                    {$h['user_name']}
                </a>

                <?php endforeach;?>


            </div>
        </div>
        <div class="col-sm-10 mt20">
            <style>
                .btn-group{position: relative;}
                .btn-group #qdfaq{position: absolute;top:11px;right:11px;}
            </style>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-success text-center" role="alert">{$user["account"]}　欢迎回来！</div>
                    <div class="text-center" style="margin-bottom: 30px">
                        <a href="javascript:void(0)" class="btn-danger btn communicate_chat_content"> 添加评论</a>
                    </div>
                </div>

                <div class="row item_list mt20 load_content">


                </div>


                <div class="col-sm-12 has_more_chat">
                    <div class="text-center" style="margin: 30px">
                        <a href="javascript:void(0)" class="btn-success btn load_more">加载更多</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
<div style="margin-bottom: 200px">

</div>
<footer class="footer mt20">
    <div class="container">
        <p class="text-center small">
            Copyright &copy; 2020 <a href="http://www.wazyb.com/">源码交易平台_www.wazyb.com</a> ALL RIGHT RESERVED
        </p>
    </div>
</footer>



{/block}


{block name="script"}


<script>


    // 当前房间
    var chat_house_id = "<?php echo $firstHouse['id']; ?>";

    var cur_page = 1;
    var page_size = 10;

    function load_chat() {
        $.ajax({
            type: 'get',
            url:  "/index/friendChat/indexMore",
            dataType: 'json',
            data: {
                cur_house_id: chat_house_id,
                page_size: page_size,
                cur_page: cur_page,
            },
            success: function(ret){
                console.log(ret);
                if(ret.code == 0) {
                    var _data = ret.payload;
                    var _chatInfo = _data.chatInfo;

                    var _html = "";
                    var length = _chatInfo.length;


                    if (length > 0) {
                        for (var i = 0; i < length; i++) {
                            _html += '<div class="col-sm-12">';
                            _html +=     '<div class="panel panel-default push_content">';
                            _html +=           '<div class="panel-body1 title_name " >';
                            if (_chatInfo[i].position == 1) {
                                _html +=        '<h4 class="text_left">';
                                _html +=            _chatInfo[i].username ;
                                _html +=            '<span class="date_decorate">'+_chatInfo[i].create_time+'</span>';
                                _html +=        '</h4>';
                            } else {
                                _html +=        '<h4 class="text_right">';
                                _html +=            _chatInfo[i].username ;
                                _html +=            '<span class="date_decorate">'+_chatInfo[i].create_time+'</span>';
                                _html +=        '</h4>';
                            }
                            _html +=             '</div>';
                            _html +=             '<div class="panel-footer">';
                            _html +=             '<div class="clearfix">';
                            _html +=                '<div class="pull-left body_content">';
                            _html +=                   _chatInfo[i].chat_content ;
                            _html +=                '</div>';
                            _html +=             '</div>';
                            _html +=             '</div>';
                            _html +=             '</div>';
                            _html +=             '</div>';

                        }

                        $(".load_content").append(_html);
                    } else {
                        $(".has_more_chat").css('display','none');
                        layer.msg("暂无更多");
                    }

                } else {
                    layer.msg(ret.msg, {icon: 5,time:1000,});
                    return false;
                }

            }
        });
    }
    $(document).ready(function(){


        load_chat();

        $('.load_more').on('click', function () {

            cur_page++;
            load_chat();
        })


        $(".communicate_chat_content").on('click', function () {

            layer.prompt({title: '请输入反馈内容！', formType: 2}, function(text, index){
                text = $.trim(text);
                if (text == '') {
                    layer.alert("内容不能为空！");
                    return false;
                }

                $.ajax({
                    type: 'post',
                    url:  "/index/friendChat/chat/add",
                    dataType: 'json',
                    data: {
                        chat_house_id: chat_house_id,
                        chat_content: text,
                    },
                    success: function(ret){
                        console.log(ret);
                        if(ret.code == 0) {
                            layer.msg('提交成功！',{
                                time:1000, icon: 6,
                                end:function () {
                                    location.href = location.href;
                                }
                            })
                        } else {
                            layer.msg(ret.msg, {icon: 5,time:1000,});
                            return false;
                        }
                    }
                });
                // layer.msg('演示完毕！您最后写下了：'+text);
            });
        });

    });

</script>


{/block}
