{extend name="admin/layout/basic" /}

{block name="style"}

<link href="/static/admin/jquery-file-upload-9.28.0/css/jquery.fileupload.css" rel="stylesheet" type="text/css"/>

<link href="/static/admin/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"/>

<style>
    .thumb_img{
        width: 200px;
    }
</style>

{/block}

{block name="content"}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        商品编辑
        <small> <a href="javascript:void(0);" onclick="window.history.back();" class="pull-right">商品列表</a></small>
    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form class="form-horizontal" id="formSubmit" method="post" action="/admin/goods/add">

                        <input type="hidden" name="id" data-id="{$data['id']}" value="{$data['id']}">

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">商品名称：</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="goods_name" value="{$data['goods_name']}" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">图片：</label>
                            <div class="col-sm-5" >
                                <button type="button" class="btn btn-primary upload_logo_button "> 上传图片 </button>
                                <div class="img_show_content" style="margin-top: 10px;">
                                    <div>
                                        <a src="javascript:void(0);" data-id="{$data['id']}" onclick="delete_file(this);">删除</a><br>
                                        <img class="thumb_img" src="/uploads/{$data['goods_img']}" alt="loading"/>
                                    </div>
                                </div>
                                <input name="goods_img" type="text" style="display: none" value="{$data['goods_img']}">
                                <input name="goods_img_thumb"  type="text" style="display: none" value="{$data['goods_img_thumb']}">
                                <input id="common_upload_file" name="common_upload_file" class="common_upload_file" type="file" style="display: none">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">原价</label>
                            <div class="col-sm-3">
                                <input type="text" name="goods_price"  class="form-control" value="{$data['goods_price']}"  >
                            </div>
                            <label for="" class="col-sm-2 control-label">现价</label>
                            <div class="col-sm-3">
                                <input type="text" name="discount_price"  class="form-control" value="{$data['discount_price']}"  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">是否促销</label>
                            <div class="col-sm-3">
                                <label class="radio-inline">
                                    <input type="radio" name="is_promote" class=" is_promote"   onclick="if($(this).is(':checked')) $('.has_promote').attr('disabled','disabled'); " value="1"  <?php if($data['is_promote'] == 1) echo 'checked';?> > 否
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="is_promote" class=" is_promote"  onclick="if($(this).is(':checked')) $('.has_promote').removeAttr('disabled'); " value="2" <?php if($data['is_promote'] == 2) echo 'checked';?>   > 是
                                </label>
                            </div>
                            <label for="" class="col-sm-2 control-label">促销价</label>
                            <div class="col-sm-3">
                                <input type="text" name="promote_price"  class="form-control has_promote promote_price" value="{$data.promote_price}" <?php if($data['is_promote'] == 1) echo 'disabled'; ?> />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">促销开始时间</label>
                            <div class="col-sm-3">
                                <input type="text" name="promote_begin_time"  class="form-control has_promote promote_begin_time" value="<?php if($data['promote_begin_time'] && $data['promote_begin_time'] > 0 ) echo date('Y-m-d H:i',$data['promote_begin_time']);?>" <?php if($data['is_promote']==1) echo 'disabled'; ?> >
                            </div>
                            <label for="" class="col-sm-2 control-label">促销结束时间</label>
                            <div class="col-sm-3">
                                <input type="text" name="promote_end_time"  class="form-control has_promote promote_end_time" value="<?php if($data['promote_end_time'] && $data['promote_end_time'] > 0) echo date('Y-m-d H:i',$data['promote_end_time']);?>" <?php if($data['is_promote'] == 1) echo 'disabled'; ?> >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">鲜花用途</label>
                            <div class="col-sm-8 " >
                                <?php
                                    foreach ($flowerUse as $k => $v):
                                        if (in_array($k,$flowerUseIds)) {
                                            $checked = 'checked';
                                        } else {
                                            $checked = '';
                                        }
                                ?>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="flower_use[]" value="{$k}"  {$checked} />
                                    {$v}&nbsp;&nbsp;&nbsp;
                                </label>
                                <?php endforeach;?>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">鲜花花材</label>
                            <div class="col-sm-8 " >
                                <?php
                                    foreach ($flowerMaterial as $k => $v):
                                        if (in_array($k,$flowerMaterialIds)) {
                                            $checked = 'checked';
                                        } else {
                                            $checked = '';
                                        }
                                ?>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="flower_material[]"  value="{$k}"  {$checked} />
                                    {$v}&nbsp;&nbsp;&nbsp;
                                </label>
                                <?php endforeach;?>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">花语内容</label>
                            <div class="col-sm-8">
                                <input type="text" name="flower_moral" class="form-control" value="{$data['flower_moral']}"  />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">备注：</label>
                            <div class="col-sm-8">
                                <input type="text" name="remark" class="form-control " value="{$data['remark']}"  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">包装：</label>
                            <div class="col-sm-8">
                                <input type="text" name="flower_package" class="form-control" value="{$data['flower_package']}"  >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">组合材料：</label>
                            <div class="col-sm-8">
                                <input type="text" name="flower_combine" class="form-control" value="{$data['flower_combine']}"  >
                            </div>
                        </div>


                        <div class="form-group">

                            <label for="" class="col-sm-2 control-label">是否商户推荐</label>
                            <div class="col-sm-3">
                                <label class="radio-inline">
                                    <input type="radio" name="is_best" class=" is_best" value="1" checked  <?php if($data['is_best'] == 1) echo 'checked';?>  > 否
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="is_best" class=" is_best" value="2" <?php if($data['is_best'] == 2) echo 'checked';?> > 是
                                </label>
                            </div>

                            <label for="" class="col-sm-2 control-label">是否热卖</label>
                            <div class="col-sm-3">
                                <label class="radio-inline">
                                    <input type="radio" name="is_hot" class=" is_hot" value="1" checked  <?php if($data['is_hot'] == 1) echo 'checked';?>  > 否
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="is_hot" class=" is_hot" value="2" <?php if($data['is_hot'] == 2) echo 'checked';?> > 是
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">是否新品</label>
                            <div class="col-sm-3">
                                <label class="radio-inline">
                                    <input type="radio" name="is_new" class=" is_new" value="1" checked  <?php if($data['is_new'] == 1) echo 'checked';?>  > 否
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="is_new" class=" is_new" value="2" <?php if($data['is_new'] == 2) echo 'checked';?> > 是
                                </label>
                            </div>

                            <label for="" class="col-sm-2 control-label">是否上架</label>
                            <div class="col-sm-3">
                                <label class="radio-inline">
                                    <input type="radio" name="is_on_sale" class=" is_on_sale" value="1" checked  <?php if($data['is_on_sale'] == 1) echo 'checked';?>  > 否
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="is_on_sale" class=" is_on_sale" value="2" <?php if($data['is_on_sale'] == 2) echo 'checked';?> > 是
                                </label>
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">排序：</label>
                            <div class="col-sm-3">
                                <input type="text" class="form-control" name="sort_id" value="{$data['sort_id']}"  >
                            </div>
                            <label for="" class="col-sm-2 control-label">库存量</label>
                            <div class="col-sm-3">
                                <input type="text" name="flower_stock" class="form-control flower_stock" value="{$data['flower_stock']}"  >
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">商品介绍</label>
                            <div class="col-sm-5" >
                                <button type="button" class="btn btn-primary upload_photo_button_multi "> 上传介绍图片 </button>
                                <div class="photo_multi_show_content" style="margin-top: 10px;">
                                    <?php foreach($introduceImg as $k => $v):?>
                                    <div>
                                        <a src="javascript:void(0);" data-id="{$v.id}"  onclick='delete_multi_file(this);'  >
                                            删除
                                        </a><br>
                                        <img class="thumb_img"  src="/uploads/{$v.introduce_img} "/>
                                    </div>
                                    <?php endforeach;?>
                                </div>
                                <input id="common_upload_multi_file" name="common_upload_multi_file" class="common_upload_multi_file" type="file" style="display: none">
                            </div>
                        </div>



                        <div class="form-group">
                            <div style="text-align: center; margin-top: 40px">
                                <button type="submit" class="curSubmit btn btn-primary btn-lg">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<div style="margin-bottom: 100px;"></div>
<!-- /.content -->
{/block}

{block name="script"}
<!--上传插件-->
<script src="/static/admin/jquery-file-upload-9.28.0/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
<script src="/static/admin/jquery-file-upload-9.28.0/js/jquery.fileupload.js" type="text/javascript"></script>
<script src="/static/admin/jquery-file-upload-9.28.0/js/jquery.iframe-transport.js" type="text/javascript"></script>

<!--时间插件-->
<script src="/static/admin/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script src="/static/admin/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" ></script>


<script>
    var has_submit = false;

    var goods_introduce_imgs = [];
    var goods_introduce_thumb_imgs = [];
    $(function () {

        $(".promote_begin_time").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            language : 'zh-CN',
            // autoclose: 1,
            // todayBtn: 1,
            // minView:'month',
        });
        $(".promote_end_time").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            language : 'zh-CN',
            // autoclose: 1,
            // todayBtn: 1,
            // minView:'month',
        });

        //商品图片，单文件上传
        $('.upload_logo_button').on('click',function(){
            $('#common_upload_file').click();
        });
        $('#common_upload_file').fileupload({
            autoUpload: true,//是否自动上传
            url: "{:url('/admin/common/addUpload',[],false)}",
            dataType: 'json',
            add: function (e,data) {
                $("#common_upload_file").fileupload(
                    'option',
                    'formData',
                    {
                        'second_dir': 'goods',    // 二级文件目录，可不传
                        'has_thumb' : 1,          // 是否生成缩略图， 1 生成缩略图，2 不生成
                        'file_type' : 2,          // 1是文件，2 是图片
                    }
                ); // 传参不能放在初始化语句中，否则只能传递参数的初始化值
                data.submit();
            },
            done: function (e, data) {
                var result = data.result;
                console.log(data);
                if(result.code == 0) {
                    var _data = result.payload;
                    $("input[name='goods_img']").val(_data.file_path);
                    $("input[name='goods_img_thumb']").val(_data.file_path_thumb);

                    var _html ="";
                    _html +="<div>";
                    _html +="<a src='javascript:void(0);'data-path='"+_data.file_path+"' data-path-thumb='"+_data.file_path_thumb+"' onclick='delete_file(this);'  >删除</a><br>";
                    _html +="<img class='thumb_img' src='/uploads/"+_data.file_path+"'/>";
                    _html +="</div>";

                    $('.img_show_content').html(_html);
                } else {
                    alert(result.msg);
                }
            }
        });


        //商品图片，单文件上传
        $('.upload_photo_button_multi').on('click',function(){
            $('#common_upload_multi_file').click();
        });
        $('#common_upload_multi_file').fileupload({
            autoUpload: true,//是否自动上传
            url: "{:url('/admin/common/addMultiUpload',[],false)}",
            dataType: 'json',
            add: function (e,data) {
                $("#common_upload_multi_file").fileupload(
                    'option',
                    'formData',
                    {
                        'second_dir': 'introduce',// 二级文件目录，可不传
                        'has_thumb' : 1,          // 是否生成缩略图， 1 生成缩略图，2 不生成
                        'file_type' : 2,          // 1是文件，2 是图片
                    }
                ); // 传参不能放在初始化语句中，否则只能传递参数的初始化值
                data.submit();
            },
            done: function (e, data) {
                var result = data.result;
                console.log(data);
                if(result.code == 0) {
                    var _data = result.payload;
                    goods_introduce_imgs.push(_data.file_path);
                    goods_introduce_thumb_imgs.push(_data.file_path_thumb);
                    var _html ="";
                    _html +="<div>";
                    _html +="<a src='javascript:void(0);'data-path='"+_data.file_path+"' data-path-thumb='"+_data.file_path_thumb+"' onclick='delete_multi_file(this);'  >删除</a><br>";
                    _html +="<img class='thumb_img' src='/uploads/"+_data.file_path+"'/>";
                    _html +="</div>";
                    $('.photo_multi_show_content').append(_html);

                } else {
                    alert(result.msg);
                }
            }
        });


        $('.curSubmit').on('click',function () {
            var is_promote = $('.is_promote:checked').val();
            if (is_promote == 2) {
                var promote_price = $('.promote_price').val();
                var promote_begin_time = $('.promote_begin_time').val();
                var promote_end_time = $('.promote_end_time').val();
                if(promote_price == '' || promote_begin_time == '' || promote_end_time == '') {
                    alert('请输入促销价，或促销开始和结束时间');
                    return false;
                }
            }

            var temp_intro_img = '';
            if (goods_introduce_imgs.length > 0) {
                temp_intro_img = goods_introduce_imgs.join(',');
            }
            var temp_intro_thumb_img = '';
            if (goods_introduce_thumb_imgs.length > 0) {
                temp_intro_thumb_img = goods_introduce_thumb_imgs.join(',');
            }
            var other_param = $.param({
                'goods_introduce_img':  temp_intro_img,
                'goods_introduce_thumb': temp_intro_thumb_img,
            });

            var url = "/admin/goods/edit";
            var form_param = $('#formSubmit').serialize();
            form_param  =  other_param+'&'+form_param;

            if (has_submit == true) {
                return  false;
            }
            has_submit = true;
            $.ajax({
                type: 'post',
                url:  url,
                dataType: 'json',
                data: form_param,
                success: function(ret){
                    console.log(ret);
                    if(ret.code == 0) {
                        layer.msg('添加成功',{
                            time:1000,
                            icon: 6,
                            end:function () {
                                location.href = "/admin/goods/lst";
                            }
                        })
                    } else {
                        has_submit = false;
                        alert(ret.msg);
                        return false;
                    }
                }
            });
            return false;
        });

    });

    //删除单 图片
    function delete_file(cur_this){
        var _this = cur_this;
        if(confirm('确定要删除吗?')) {
            $(_this).parent().remove();
            $("input[name='goods_img']").val('');
            $("input[name='goods_img_thumb']").val('');
        }
        return false;
    }


    function delete_multi_file(cur_this) {
        var multi_img_id = $(cur_this).attr('data-id');

        var url = "<?php echo url('/admin/goods/editMultiFileDelete',[],false);?>";
        var _this = cur_this;
        if(confirm('确定要删除吗?')) {
            // 直接从数据库中删除
            $.ajax({
                type: 'get',
                url:  url,
                dataType: 'json',
                data: {
                    multi_img_id : multi_img_id,
                },
                success: function(ret){
                    console.log(ret);
                    if(ret.code == 0) {
                        $(_this).parent().remove();
                    } else {
                        alert(ret.msg);
                        return false;
                    }
                }
            });
        }
        return false;
    }
</script>
{/block}
