
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>bbb - 源码交易平台_www.wazyb.com</title>
    <meta name="keywords" content="bbb" />
    <meta name="description" content="bbb啊啊啊啊" />
    <link rel="stylesheet" href="/static/default/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/default/css/me.css" />
    <link rel="stylesheet" href="/static/icomoon/style.css" />
    <script src="/static/default/js/jquery.js"></script>
    <script src="/static/default/js/bootstrap.min.js"></script>
    <script>var webdir = '/' , weburl = 'http://www.wazyb.com/', memurl = '/member';</script>
    <script src="/static/js/layer/layer.js"></script>
    <script src="/static/default/js/all.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/default/js/html5.js"></script>
    <script src="/static/default/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container bg-white">
    <div class="row">
        <div class="col-sm-6 hidden-xs">
            <a class="nopadding" href="http://www.wazyb.com/"><img src="/static/default/img/logo2.png" alt="源码交易平台_www.wazyb.com"/></a>
        </div>
        <div class="col-xs-12 col-sm-6 text-right" id="memnav">
            <a href="javascript:;">您好，<strong>aaaaaa</strong> </a>
            <a href="/member/"><span class="icon-users"></span>管理中心</a>
            <a href="/member/index.php?u=public-logout"><span class="icon-switch"></span> 退出</a>
        </div>
    </div>
</div>
<nav class="navbar mr0 mb0 bg-header" id="navbar">
    <div class="container">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnav" aria-expanded="false"><span class="sr-only">Toggle navigation</span> <span class="icon-circle-down"></span></button>
            <a class="navbar-brand nopadding" href="http://www.wazyb.com/"><img src="/static/default/img/logo.png" alt="源码交易平台_www.wazyb.com"/></a>
        </div>
        <div class="collapse navbar-collapse" id="topnav">
            <ul class="nav navbar-nav" id="navbar-nav">
                <li class=""><a href="http://www.wazyb.com/"><span class="icon-home"></span> 网站首页</a></li>
                <li class=""><a href="/index.php?cate--cid-16.html" target="_self">影音游戏</a></li>
                <li class="active"><a href="/index.php?cate--cid-15.html" target="_self">电子商城</a></li>
                <li class=""><a href="/index.php?cate--cid-2.html" target="_self">淘客推广</a></li>
                <li class="active"><a href="/index.php?cate--cid-10.html" target="_self">资源</a></li>
            </ul>
            <form role="search" class="navbar-form navbar-right search hidden-xs" method="GET" action="/index.php" id="search_form">
                <div class="input-group">
                    <input class="form-control" id="search_keyword" type="text" name="keyword" value="" aria-describedby="submitso" />
                    <input type="hidden" name="mid" value="2" />
                    <input type="hidden" name="u" value="search-index" />
                    <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="icon-search"></i></button></span>
                </div>
            </form>
        </div>
    </div>
</nav>
<style>.badge{font-weight:normal;background-color:transparent;color:#777}</style>

<div class="header-line">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline" id="top_notice">
                    <li>你的位置：<a href="http://www.wazyb.com/">网站首页</a>  &gt; <a href="/index.php?cate--cid-10.html">资源</a> &gt; <a href="/index.php?cate--cid-15.html">电子商城</a></li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<div class="container mt20">
    <div class="page-header text-center text-success">
        <h1>bbb</h1>
    </div>
    <div class="row clearfix">
        <div class="col-sm-8">
            <div role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#about" aria-controls="about" role="tab" data-toggle="tab" hidefocus="true">资源介绍</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="about">
                        <p><img src="/upload/products/202006/1593474647971012.jpg" title="1593474647971012.jpg" alt="user3-128x128.jpg"/>附件</p><p><img src="/upload/products/202006/1593474629208359.png" title="1593474629208359.png" alt="photo1.png"/><img src="/upload/products/202006/1593474663606877.jpg" title="1593474663606877.jpg" alt="user8-128x128.jpg"/></p>																					<p class="text-center"><img src="/upload/products/202006/30/0750005efa7e28391380xvP3h.png" class="img-responsive img-thumbnail" alt=""></p>
                        <p class="text-center"><img src="/upload/products/202006/30/0750125efa7e34d774bPlOSQ7.png" class="img-responsive img-thumbnail" alt=""></p>
                        <div class="clearfix">
                            <div class="btn-group clearfix btn-group-sm" role="toolbar">
                                <button type="button" class="btn btn-success" disabled="disabled">&gt;&gt;</button>
                                <a href="/index.php?show--cid-15-id-24.html" class="btn btn-default" role="group">aaa</a>							</div>
                            <br />
                            <div class="btn-group mt10 btn-group-sm" role="toolbar">
                                <button type="button" class="btn btn-success" disabled="disabled">&lt;&lt;</button>
                                <a href="javascript:;" class="btn btn-default" role="group">没有了</a>							</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="rightfix">
                <table class="table table-bordered">
                    <tbody>
                    <tr class="active">
                        <td colspan="2" class="text-success text-center">
                            <strong class="text-warning" style="font-size:1.5em"><small>￥</small>333.00 </strong>
                        </td></tr>
                    <tr><td class="text-right w1">分类</td><td class="text-success">电子商城</td></tr>
                    <tr><td class="text-right w1">授权</td><td class="text-success">免费版</td></tr>
                    <tr><td class="text-right w1">语言</td><td class="text-success">php + mysql</td></tr>
                    <tr><td class="text-right w1">演示</td><td class="text-success">-</td></tr>
                    <tr><td class="text-right w1">发布于</td><td>15分钟前</td></tr>
                    <tr><td class="text-right w1">更新于</td><td class="text-info">15分钟前</td></tr>
                    <tr><td colspan="2"><p class="text-center" style="pointer-events: none;" id="show_order" data="2"><span class="star" gold="4"></span> <small class="text-muted"></small></p></td></tr>
                    </tbody>
                </table>
                <div class="panel panel-default">
                    <div class="panel-heading">下载地址 </div>
                    <ul class="list-group">
                    </ul>
                    <div class="panel-body">
                        <form class="form-horizontal mt10" id="order_book" method="post" action="/member/index.php?book-add_ajax">
                            <input type="hidden" name="book[ordernum]" value="1" />
                            <input type="hidden" name="book[pid]" value="25" />
                            <input type="hidden" name="book[cid]" value="15" />
                            <input type="hidden" id="book_price" value="333.00" />
                            <input type="hidden" id="user_price" value="0.00" />
                            <button type="button" class="btn btn-info btn-block" id="send"><span class="icon-cart"></span> 确认订购</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery.raty.js"></script>
<script>
    function down_err(){
        return layer.alert('<ul class=\"pull-left text-left\"><li>请购买后下载！</li></ul>',{area:'500px',title:['友情提醒', 'font-weight:bold;color:red']});
    }
    function timer(){
        var intDiff = $('#time-item').attr('rel');
        window.setInterval(function(){
            var day=0,
                hour=0,
                minute=0,
                second=0;//时间默认值
            if(intDiff > 0){
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;
            $('#day_show').html(day+"天");
            $('#hour_show').html('<s id="h"></s>'+hour+'时');
            $('#minute_show').html('<s></s>'+minute+'分');
            $('#second_show').html('<s></s>'+second+'秒');
            intDiff--;
        }, 1000);
    }
    $(document).ready(function(){
        layer.config({extend: 'extend/layer.ext.js'});
        layer.ready(function(){
            layer.photos({photos: '#photosDemo',shift:-1});
        });
        timer();
        $.getScript("/index.php?u=views--cid-15-id-25", function(){});
        $(".faqshow").click(function(){
            $.getJSON($(this).attr('furl'), function(result){
                layer.open({type: 1,title: result.title,closeBtn: 2,shift: 2,area: '600px',content: '<div style="padding:15px;">'+result.content+'</div>'});
            });
        });
        $("#send").click(function(){
            var user_price = $('#user_price').val(),totalprice = $('#book_price').val() * 1;
            if(totalprice*1 > user_price*1){
                var H = Math.max(350, document.documentElement.clientHeight - 30) + 'px';
                layer.open({
                    type: 1,
                    title: ['友情提醒', 'font-weight:bold;color:green'],
                    btn: ['去充值', '取消'],
                    yes: function(index, layero){
                        window.location.href	= '/member/index.php?u=record-order-price-' + (totalprice-user_price);
                    },cancel: function(index){
                    },
                    shadeClose: true,
                    scrollbar: false,
                    content: "<p class='alert text-danger'>余额不足！您至少需要充值："+(totalprice-user_price)+"</p>"
                });
                return false;
            }else{
                layer.open({
                    title: ['友情提醒', 'font-weight:bold;color:green'],
                    btn:['确认','取消'],
                    yes:function(index,layero){
                        var btn = layero.find('.layui-layer-btn'); //按钮组
                        var body = layero.find('.layui-layer-content'); //内容区
                        btn.hide();
                        body.append("<br/>请稍候...若无响应请到<a class='text-info' href='/member/index.php?u=book-index' target='_blank'>会员中心</a>查看！");
                        $.ajax({
                            type	: "POST",
                            cache	: false,
                            url		: $('#order_book').attr("action"),
                            data	: $('#order_book').serialize(),
                            success	: function(data){
                                ppAjax.alert(data);
                                if(window.ppData.err==0){
                                    layer.msg('订购成功，请稍后，即将进入会员中心下载！', {icon: 1,time: 2000,shade: 0.6}, function(){window.location = '/member/index.php?u=book-index';});
                                }else{
                                    layer.alert(window.ppData.msg, {icon: 5,shade: 0.6}) ;
                                }
                            },
                            error : function(html){
                                layer.alert("提交数据失败，代码:"+ html.status +"，请稍候再试", {icon: 0,shade: 0.6}) ;
                            }
                        });
                    },
                    cancel:function(index){
                        layer.close(index);
                    },
                    shadeClose: true,
                    scrollbar: false,
                    content: '确认购买？确认后将扣除' + totalprice + '元'
                });
            }
        });
        $('.star').raty({
            hints: ['很差！','一般！','不错！','很好！','力荐！'],
            number: 5,
            path: webdir + 'static/rate/',
            starOff: 'star-off-big.png',
            starOn: 'star-on-big.png',
            size: 24,
            score: $('.star').attr('gold'),
            showHalf: true,
        });
        var obj = $("#load_more");
        var next_url = obj.attr("next_url");
        var isnext = obj.attr("isnext");
        var no_more = function() {
            obj.html("没有了...");
            if(typeof load_more != "undefined") obj.off("click", load_more);
            if(typeof auto_load_more != "undefined") $(window).off("scroll", auto_load_more);
        }
        if(isnext < 1) { no_more(); return; }
        var twJosnLock = false;
        var load_more = function() {
            if(!next_url || twJosnLock) return;
            obj.html("加载中...");
            twJosnLock = true;
            $.get(next_url, function(data) {
                try{
                    var json = eval("("+data+")");
                    next_url = json.next_url;
                    $.each(json.list_arr, function(i,item){
                        var s = '<div class="list-group-item">';
                        s += '<p class="list-group-item-heading">'+item.author+' <small class="pull-right text-muted">'+item.date+'</small></p>';
                        s += '<p class="list-group-item-text text-muted">'+item.content+'</p>';
                        s += '</div>';
                        $("#comments >.list-group-item:last").before(s);
                    });
                    obj.html("更多评论");
                    twJosnLock = false;
                    if(json.isnext < 1) no_more();
                }catch(e){
                    alert(data);
                }
            });
        }
        obj.click(load_more);
    });
</script>
<div class="all bg-footer pad20 mt20" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Powered by <a href="http://www.wazyb.com/">源码交易平台_www.wazyb.com</a></p>
                <p>Copyright &copy; 2020 www.wazyb.com All Rights Reserved </p>
            </div>
            <div class="col-md-6 text-right hidden-xs">
                <p>源码交易平台_www.wazyb.com</p>
                <p>页面耗时0.4260秒, 内存占用848.56 KB, 访问数据库19次</p>
            </div>
        </div>
    </div>
</div>
<p id="back-to-top"><a href="#top"><span></span></a></p>
</body>
</html>