{extend name="index/layout/basic" /}

{block name="style"}

<link href="/static/admin/jquery-file-upload-9.28.0/css/jquery.fileupload.css" rel="stylesheet" type="text/css"/>

<link href="/static/admin/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css"/>

<style>
    .thumb_img{
        width: 200px;
    }
</style>

{/block}

{block name="content"}
<nav class="navbar mr0 mb0 bg-header" id="navbar">
    <div class="container">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnav" aria-expanded="false"><span class="sr-only">Toggle navigation</span> <span class="icon-circle-down"></span></button>
            <a class="navbar-brand nopadding" href="/"><img src="/static/index/default/img/logo.png" alt="源码交易平台_www.wazyb.com"/></a>
        </div>
        <div class="collapse navbar-collapse" id="topnav">
            <ul class="nav navbar-nav" id="navbar-nav">
                <li class="active"><a href="/"><span class="icon-home"></span> 网站首页</a></li>
            </ul>
            <form role="search" class="navbar-form navbar-right search hidden-xs" method="GET" action="/index.php" id="search_form">
                <div class="input-group">
                    <input class="form-control" id="search_keyword" type="text" name="keyword" value="" aria-describedby="submitso" />
                    <input type="hidden" name="mid" value="2" />
                    <input type="hidden" name="u" value="search-index" />
                    <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="icon-search"></i></button></span>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container mt20">
    <div class="row clearfix" style="padding-bottom:20px;">
        <div class="col-sm-2 mt20 mb20">
            <div class="list-group">
                <a href="#" class="list-group-item active disabled">管理导航</a>
                <a class="list-group-item  list-group-item-info" href="/index/user/index"><span class="icon-home"></span> 会员首页</a>
                <a class="list-group-item" href="javascript:;" style="display:;height:5px;padding:0;background:#eee">&nbsp;</a>
                <a class="list-group-item " href="/index/goods/publishLst"><span class="icon-list"></span> 我的发布</a>
                <a class="list-group-item " href="/index/goods/publishAdd"><span class="icon-credit-card"></span>  发布商品</a>
                <!--<a class="list-group-item " href="/index/user/topUp"><span class="icon-coin-yen"></span>  回复</a>-->
                <!--<a class="list-group-item " href="/index/user/withdraw"><span class="icon-pig"></span>  评价</a>-->
                <!--<a class="list-group-item" href="javascript:;" style="display:;height:5px;padding:0;background:#eee">&nbsp;</a>-->
                <!--<a class="list-group-item " href="/index/user/changeProfile"><span class="icon-pencil"></span>  1</a>-->
                <!--<a class="list-group-item " href="/index/user/changePassword"><span class="icon-key"></span>  2</a>-->
                <!--<a class="list-group-item " href="index.php?u=comment-index"><span class="icon-bubble"></span>  3</a>-->

            </div>
            <!--<div class="input-group hidden-xs">-->
                <!--<span class="input-group-addon"><span class="icon-yen text-success"></span></span>-->
                <!--<input class="form-control" type="text" value="0.00" />-->
            <!--</div>-->
        </div>
        <div class="col-sm-10 mt20">
            <style>
                .btn-group{position: relative;}
                .btn-group #qdfaq{position: absolute;top:11px;right:11px;}
            </style>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-success text-center" role="alert">{$user["account"]}　欢迎回来！</div>
                </div>

                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title"></h3>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <form class="form-horizontal" id="formSubmit" method="post" action="/admin/goods/add">

                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">商品名称：</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" name="goods_name" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">商品分类：</label>
                                    <div class="col-sm-4">
                                        <select name="goods_category_id" class="form-control goods_category_id">
                                            <option value="0">请选择商品分类</option>
                                            <?php foreach($category as $k => $v): ?>
                                            <option value="{$k}">
                                                {$v}
                                            </option>
                                            <?php endforeach;?>
                                        </select>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">商品图片：</label>
                                    <div class="col-sm-5" >
                                        <button type="button" class="btn btn-primary upload_logo_button "> 上传图片 </button>
                                        <div class="img_show_content" style="margin-top: 10px;">

                                        </div>
                                        <input name="goods_img" type="text" style="display: none">
                                        <input name="goods_img_thumb"  type="text" style="display: none">
                                        <input id="common_upload_file" name="common_upload_file" class="common_upload_file" type="file" style="display: none">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">商品价格：</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="goods_price"  class="form-control goods_price" value="0.00"  >
                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">发货信息：</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="send_info" class="form-control send_info" value=""  >
                                    </div>
                                </div>

                                <!--                        <div class="form-group">-->
                                <!--                            <label for="" class="col-sm-2 control-label">备注：</label>-->
                                <!--                            <div class="col-sm-8">-->
                                <!--                                <input type="text" name="remark" class="form-control " value=""  placeholder="提交订单时可填写备注" >-->
                                <!--                            </div>-->
                                <!--                        </div>-->


                                <div class="form-group">
                                    <!--                            <label for="" class="col-sm-2 control-label">排序：</label>-->
                                    <!--                            <div class="col-sm-3">-->
                                    <!--                                <input type="text" class="form-control" name="sort_id" value="9999">-->
                                    <!--                            </div>-->
                                    <label for="" class="col-sm-2 control-label">库存量</label>
                                    <div class="col-sm-3">
                                        <input type="text" name="stock_num" class="form-control stock_num" value="99"  >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">商品相册集:</label>
                                    <div class="col-sm-5" >
                                        <button type="button" class="btn btn-primary upload_photo_button_multi "> 上传图片 </button>
                                        <div class="photo_multi_show_content" style="margin-top: 10px;">

                                        </div>
                                        <input id="common_upload_multi_file" name="common_upload_multi_file" class="common_upload_multi_file" type="file" style="display: none">
                                    </div>
                                </div>




                                <div class="form-group">
                                    <label for="" class="col-sm-2 control-label">商品描述：</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-10">
                                        <textarea id="goods_desc" class="goods_desc" name="goods_desc"></textarea>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div style="text-align: center; margin-top: 40px">
                                        <button type="submit" class="curSubmit btn btn-primary btn-lg">提交</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <h4 style="margin-top: 10px; margin-bottom: 10px;">
                           发布的商品
                        </h4>
                    </div>
                </div>
            </div>


            <div>
                添加商品
            </div>

        </div>
    </div>
</div>
<footer class="footer mt20">
    <div class="container">
        <p class="text-center small">
            Copyright &copy; 2020 <a href="http://www.wazyb.com/">源码交易平台_www.wazyb.com</a> ALL RIGHT RESERVED
        </p>
    </div>
</footer>


<!--上传插件-->
<script src="/static/admin/jquery-file-upload-9.28.0/js/vendor/jquery.ui.widget.js" type="text/javascript"></script>
<script src="/static/admin/jquery-file-upload-9.28.0/js/jquery.fileupload.js" type="text/javascript"></script>
<script src="/static/admin/jquery-file-upload-9.28.0/js/jquery.iframe-transport.js" type="text/javascript"></script>

<!--时间插件-->
<script src="/static/admin/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js" type="text/javascript"></script>
<script src="/static/admin/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js" type="text/javascript" ></script>

<!--百度编辑器插件-->
<script src="/static/admin/ueditor/ueditor.config.js" type="text/javascript" ></script>
<script src="/static/admin/ueditor/ueditor.all.min.js" type="text/javascript" ></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script src="/static/admin/ueditor/lang/zh-cn/zh-cn.js" type="text/javascript" ></script>


<script>

    var has_submit = false;
    var goods_introduce_imgs = [];
    var goods_introduce_thumb_imgs = [];
    $(document).ready(function(){

        var cur_ue = UE.getEditor('goods_desc', {
            "initialFrameWidth" : "100%",   // 宽
            "initialFrameHeight" : 600,      // 高
            "maximumWords" : 10000            // 最大可以输入的字符数量
        });


        //商品图片，单文件上传
        $('.upload_logo_button').on('click',function(){
            $('#common_upload_file').click();
        });
        $('#common_upload_file').fileupload({
            autoUpload: true,//是否自动上传
            url: "{:url('/admin/common/addUpload',[],false)}",
            dataType: 'json',
            add: function (e,data) {
                $("#common_upload_file").fileupload(
                    'option',
                    'formData',
                    {
                        'second_dir': 'goods',    // 二级文件目录，可不传
                        'has_thumb' : 1,          // 是否生成缩略图， 1 生成缩略图，2 不生成
                        'file_type' : 2,          // 1是文件，2 是图片
                    }
                ); // 传参不能放在初始化语句中，否则只能传递参数的初始化值
                data.submit();
            },
            done: function (e, data) {
                var result = data.result;
                console.log(data);
                if(result.code == 0) {
                    var _data = result.payload;
                    $("input[name='goods_img']").val(_data.file_path);
                    $("input[name='goods_img_thumb']").val(_data.file_path_thumb);

                    var _html ="";
                    _html +="<div>";
                    _html +="<a src='javascript:void(0);'data-path='"+_data.file_path+"' data-path-thumb='"+_data.file_path_thumb+"' onclick='delete_file(this);'  >删除</a><br>";
                    _html +="<img class='thumb_img' src='/uploads/"+_data.file_path+"'/>";
                    _html +="</div>";

                    $('.img_show_content').html(_html);
                } else {
                    alert(result.msg);
                }
            }
        });

        //商品图片，多文件上传
        $('.upload_photo_button_multi').on('click',function(){
            $('#common_upload_multi_file').click();
        });
        $('#common_upload_multi_file').fileupload({
            autoUpload: true,//是否自动上传
            url: "{:url('/admin/common/addMultiUpload',[],false)}",
            dataType: 'json',
            add: function (e,data) {
                $("#common_upload_multi_file").fileupload(
                    'option',
                    'formData',
                    {
                        'second_dir': 'introduce',// 二级文件目录，可不传
                        'has_thumb' : 1,          // 是否生成缩略图， 1 生成缩略图，2 不生成
                        'file_type' : 2,          // 1是文件，2 是图片
                    }
                ); // 传参不能放在初始化语句中，否则只能传递参数的初始化值
                data.submit();
            },
            done: function (e, data) {
                var result = data.result;
                console.log(data);
                if(result.code == 0) {
                    var _data = result.payload;
                    goods_introduce_imgs.push(_data.file_path);
                    goods_introduce_thumb_imgs.push(_data.file_path_thumb);
                    var _html ="";
                    _html +="<div>";
                    _html +="<a src='javascript:void(0);'data-path='"+_data.file_path+"' data-path-thumb='"+_data.file_path_thumb+"' onclick='delete_multi_file(this);'  >删除</a><br>";
                    _html +="<img class='thumb_img' src='/uploads/"+_data.file_path+"'/>";
                    _html +="</div>";
                    $('.photo_multi_show_content').append(_html);

                } else {
                    alert(result.msg);
                }
            }
        });

        $('.curSubmit').on('click',function () {


            var goods_name =  $("input[name='goods_name']").val();
            if (goods_name.length < 1) {
                alert('请输入商品名称');
                return  false;
            }

            var goods_category_id = $(".goods_category_id").find("option:selected").val();
            if (goods_category_id < 1) {
                alert('请选择商品分类');
                return  false;
            }


            var goods_price =  $("input[name='goods_price']").val();
            if (goods_price < 0.01) {
                alert('请输入商品价格');
                return  false;
            }
            var goods_img =  $("input[name='goods_img']").val();
            if (goods_img.length < 1) {
                alert('请上传商品图片');
                return  false;
            }
            // $('#formSubmit').submit();
            // return  true;
            if (goods_introduce_imgs.length < 1) {
                alert('请上传商品介绍图片');
                return  false;
            }
            var other_param = $.param({
                'goods_introduce_img':  goods_introduce_imgs.join(','),
                'goods_introduce_thumb':  goods_introduce_thumb_imgs.join(','),
            });

            var url = "/index/goods/publishAddStore";
            var form_param = $('#formSubmit').serialize();
            form_param  =  other_param+'&'+form_param;

            if (has_submit == true) {
                return  false;
            }
            has_submit = true;
            $.ajax({
                type: 'post',
                url:  url,
                dataType: 'json',
                data: form_param,
                success: function(ret){
                    console.log(ret);
                    if(ret.code == 0) {
                        layer.msg('添加成功',{
                            time:1000,
                            icon: 6,
                            end:function () {
                                location.href = "/index/goods/publishLst";
                            }
                        })
                    } else {
                        has_submit = false;
                        alert(ret.msg);
                        return false;
                    }
                }
            });
            return false;
        });




        $('#sms_btn').click(function (){

            layer.open({
                type: 1,
                title: ['绑定手机号码', 'font-weight:bold;color:green'],
                area: '500px',
                btn: ['提交验证', '取消'],
                yes: function(index, layero){
                    if($('#code').val().length == '') {
                        layer.msg('验证码不能为空', function(){});
                        return false;
                    }
                    $.ajax({
                        url: '/member/index.php?u=public-sms_active',
                        type: 'POST',
                        data:{'code':$('#code').val(),'mobile':$('#mobile').val(),'rnum':Math.random()},
                        dataType: 'json',
                        success: function(res){
                            if(res.err==0){
                                layer.msg(res.msg, {icon: 1,time: 2000,shade: 0.6}, function(){window.location.reload();});
                            }else{
                                layer.msg(res.msg, function(){});
                            }
                        }
                    });
                },cancel: function(index){
                },
                shadeClose: true,
                scrollbar: false,
                content: $('#active_sms')
            });
        });


    });

    /**
     *
     * @param groupid 会员级别ID
     * @param price 会员价格（不用）
     * @returns {boolean}
     */
    function up_group(groupid,price){

        var tip = "价格" + price + ", 确定开通吗？"
        layer.confirm(tip, {
            btn: ['开通','取消'] //按钮
        }, function(){

            $.ajax({
                type: 'post',
                url:  "/index/order/openVip",
                dataType: 'json',
                data : {
                    group_id: groupid
                },
                success : function (ret) {
                    console.log(ret);

                    if (ret.code == 0) {
                        layer.msg('购买成功',
                            {icon: 1,time: 2000,shade: 0.6},
                            function(){
                                window.location.href = window.location.href;
                            }
                        );
                    } else if(ret.code == 401) {
                        window.location = "{:url('/index/user/login',[], false)}";
                        return false;
                    } else if(ret.code == 100) {

                        layer.confirm(ret.msg, {
                            btn: ['去充值','取消'] //按钮
                        }, function(){
                            window.location.href	= '/index/user/topUp';
                        });
                        // layer.msg(ret.msg);
                        return false;
                    } else {
                        layer.msg(ret.msg);
                        return false;
                    }


                },
                error : function (html) {
                    layer.alert("提交数据失败，代码:" + html.status + "，请稍候再试", {icon : 0,shade : 0.6});
                }
            });
        }, function(){

        });

        return false;
        if(price > 0.00){
            layer.open({
                type: 1,
                title: ['友情提醒', 'font-weight:bold;color:green'],
                btn: ['去充值', '取消'],
                yes: function(index, layero){
                    window.location.href	= '/index/user/openVip?level_id' + groupid;
                },cancel: function(index){
                },
                shadeClose: true,
                content: "<p class='alert text-danger'>余额不足！您至少需要充值："+(price-0.00)+"</p>"
            });
            return false;
        }else{
            layer.open({
                title: ['友情提醒', 'font-weight:bold;color:green'],
                btn:['确认','取消'],
                yes:function(index,layero){
                    $.ajax({
                        type	: "POST",
                        cache	: false,
                        url		: "/index/user/openVip?level_id' + groupid",
                        data	: {"groupid":groupid,"price":price},
                        success	: function(data){
                            ppAjax.alert(data);
                            if(window.ppData.err==0){
                                layer.msg('会员组升级成功，请稍后！', {icon: 1,time: 2000,shade: 0.6}, function(){window.location.reload();});
                            }else{
                                layer.alert(window.ppData.msg, {icon: 5,shade: 0.6}) ;
                            }
                        },
                        error : function(html){
                            layer.alert("提交数据失败，代码:"+ html.status +"，请稍候再试", {icon: 0,shade: 0.6}) ;
                        }
                    });
                },
                cancel:function(index){
                    layer.close(index);
                },
                shadeClose: true,
                content: "您确定要升级吗？此操作将扣除您<strong class='text-danger'>"+price+"元！"
            });
        }
    }
</script>





{/block}
