
{extend name="index/layout/basic" /}


{block name="content"}


<nav class="navbar mr0 mb0 bg-header" id="navbar">
    <div class="container">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnav" aria-expanded="false"><span class="sr-only">Toggle navigation</span> <span class="icon-circle-down"></span></button>
            <a class="navbar-brand nopadding" href="http://www.wazyb.com/"><img src="/static/default/img/logo.png" alt="源码交易平台_www.wazyb.com"/></a>
        </div>
        <div class="collapse navbar-collapse" id="topnav">
            <ul class="nav navbar-nav" id="navbar-nav">
                <li class=""><a href="http://www.wazyb.com/"><span class="icon-home"></span> 网站首页</a></li>
                <li class=""><a href="/index.php?cate--cid-16.html" target="_self">影音游戏</a></li>
                <li class="active"><a href="/index.php?cate--cid-10.html" target="_self">资源</a></li>
            </ul>
            <form role="search" class="navbar-form navbar-right search hidden-xs" method="GET" action="/index.php" id="search_form">
                <div class="input-group">
                    <input class="form-control" id="search_keyword" type="text" name="keyword" value="" aria-describedby="submitso" />
                    <input type="hidden" name="mid" value="2" />
                    <input type="hidden" name="u" value="search-index" />
                    <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="icon-search"></i></button></span>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="header-line">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline" id="top_notice">
                    <li>你的位置：<a href="http://www.wazyb.com/">网站首页</a>  &gt; <a href="/index.php?cate--cid-10.html">资源</a> &gt; <a href="/index.php?cate--cid-15.html">电子商城</a></li>
                </ul>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
<div class="container mt20">
    <div class="row">

        <div class="col-sm-9">
            <div class="clearfix">
                <div class="btn-group btn-group-sm pull-right" role="group"  id="pro_orderby">
                    <a href="javascript:;" class="btn btn-success" data="0">默认</a>
                    <a href="javascript:;" class="btn btn-default" data="1">更新</a>
                    <a href="javascript:;" class="btn btn-default" data="2">销量</a>
                    <a href="javascript:;" class="btn btn-default" data="3">优惠</a>
                </div>
            </div>



            <div class="row item_list mt20">
                <?php foreach($goodsData as $v):?>
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-body pa_pic">
                            <a href="/index/goods/detail?goods_id={$v['id']}">
                                <img class="img-responsive center-block" src="{$v['goods_img']}" data-original="{$v['goods_img']}" alt="{$v['goods_name']}" />

                            </a>
                        </div>
                        <div class="panel-footer">
                            <h4 class="title"><a href="//index/goods/detail?goods_id={$v['id']}">{$v['goods_name']}</a></h4>
                            <div class="clearfix">
                                <div class="pull-left price">
                                    <span class="s1">{$v['goods_price']}</span>
                                </div>

                                <div class="pull-right smgray text-right">
                                    商家： {$v['user_account']}<br />
                                    已卖 {$v['has_sale_num']} 件
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <?php endforeach;?>

                <!--<div class="col-sm-4">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body pa_pic">-->
                            <!--<a href="/index.php?show&#45;&#45;cid-15-id-12.html"><img class="img-responsive center-block" src="/static/default/img/grey.gif" data-original="/static/img/nopic.jpg" alt="qqq" /></a>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<h4 class="title"><a href="/index.php?show&#45;&#45;cid-15-id-12.html">qqq</a></h4>-->
                            <!--<div class="clearfix">-->
                                <!--<div class="pull-left price">-->
                                    <!--<span class="s1">free</span>-->
                                <!--</div>-->
                                <!--<div class="pull-right smgray text-right">-->
                                    <!--<i class="icon-heart text-gray"></i> 0 人喜欢<br />-->
                                    <!--<i class="icon-bubble text-gray"></i> 0 条评论-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body pa_pic">-->
                            <!--<a href="/index.php?show&#45;&#45;cid-15-id-11.html"><img class="img-responsive center-block" src="/static/default/img/grey.gif" data-original="/static/img/nopic.jpg" alt="qqq" /></a>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<h4 class="title"><a href="/index.php?show&#45;&#45;cid-15-id-11.html">qqq</a></h4>-->
                            <!--<div class="clearfix">-->
                                <!--<div class="pull-left price">-->
                                    <!--<span class="s1">free</span>-->
                                <!--</div>-->
                                <!--<div class="pull-right smgray text-right">-->
                                    <!--<i class="icon-heart text-gray"></i> 0 人喜欢<br />-->
                                    <!--<i class="icon-bubble text-gray"></i> 0 条评论-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body pa_pic">-->
                            <!--<a href="/index.php?show&#45;&#45;cid-15-id-10.html"><img class="img-responsive center-block" src="/static/default/img/grey.gif" data-original="/static/img/nopic.jpg" alt="qqq" /></a>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<h4 class="title"><a href="/index.php?show&#45;&#45;cid-15-id-10.html">qqq</a></h4>-->
                            <!--<div class="clearfix">-->
                                <!--<div class="pull-left price">-->
                                    <!--<span class="s1">free</span>-->
                                <!--</div>-->
                                <!--<div class="pull-right smgray text-right">-->
                                    <!--<i class="icon-heart text-gray"></i> 0 人喜欢<br />-->
                                    <!--<i class="icon-bubble text-gray"></i> 0 条评论-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body pa_pic">-->
                            <!--<a href="/index.php?show&#45;&#45;cid-15-id-9.html"><img class="img-responsive center-block" src="/static/default/img/grey.gif" data-original="/static/img/nopic.jpg" alt="qqq" /></a>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<h4 class="title"><a href="/index.php?show&#45;&#45;cid-15-id-9.html">qqq</a></h4>-->
                            <!--<div class="clearfix">-->
                                <!--<div class="pull-left price">-->
                                    <!--<span class="s1">free</span>-->
                                <!--</div>-->
                                <!--<div class="pull-right smgray text-right">-->
                                    <!--<i class="icon-heart text-gray"></i> 0 人喜欢<br />-->
                                    <!--<i class="icon-bubble text-gray"></i> 0 条评论-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body pa_pic">-->
                            <!--<a href="/index.php?show&#45;&#45;cid-15-id-8.html"><img class="img-responsive center-block" src="/static/default/img/grey.gif" data-original="/static/img/nopic.jpg" alt="qqq" /></a>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<h4 class="title"><a href="/index.php?show&#45;&#45;cid-15-id-8.html">qqq</a></h4>-->
                            <!--<div class="clearfix">-->
                                <!--<div class="pull-left price">-->
                                    <!--<span class="s1">free</span>-->
                                <!--</div>-->
                                <!--<div class="pull-right smgray text-right">-->
                                    <!--<i class="icon-heart text-gray"></i> 0 人喜欢<br />-->
                                    <!--<i class="icon-bubble text-gray"></i> 0 条评论-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body pa_pic">-->
                            <!--<a href="/index.php?show&#45;&#45;cid-15-id-7.html"><img class="img-responsive center-block" src="/static/default/img/grey.gif" data-original="/static/img/nopic.jpg" alt="qqq" /></a>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<h4 class="title"><a href="/index.php?show&#45;&#45;cid-15-id-7.html">qqq</a></h4>-->
                            <!--<div class="clearfix">-->
                                <!--<div class="pull-left price">-->
                                    <!--<span class="s2">&yen;</span><span class="s1">2</span>														</div>-->
                                <!--<div class="pull-right smgray text-right">-->
                                    <!--<i class="icon-heart text-gray"></i> 0 人喜欢<br />-->
                                    <!--<i class="icon-bubble text-gray"></i> 0 条评论-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body pa_pic">-->
                            <!--<a href="/index.php?show&#45;&#45;cid-15-id-6.html"><img class="img-responsive center-block" src="/static/default/img/grey.gif" data-original="/static/img/nopic.jpg" alt="qqq" /></a>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<h4 class="title"><a href="/index.php?show&#45;&#45;cid-15-id-6.html">qqq</a></h4>-->
                            <!--<div class="clearfix">-->
                                <!--<div class="pull-left price">-->
                                    <!--<span class="s2">&yen;</span><span class="s1">2</span>														</div>-->
                                <!--<div class="pull-right smgray text-right">-->
                                    <!--<i class="icon-heart text-gray"></i> 0 人喜欢<br />-->
                                    <!--<i class="icon-bubble text-gray"></i> 0 条评论-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body pa_pic">-->
                            <!--<a href="/index.php?show&#45;&#45;cid-15-id-5.html"><img class="img-responsive center-block" src="/static/default/img/grey.gif" data-original="/static/img/nopic.jpg" alt="qqq" /></a>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<h4 class="title"><a href="/index.php?show&#45;&#45;cid-15-id-5.html">qqq</a></h4>-->
                            <!--<div class="clearfix">-->
                                <!--<div class="pull-left price">-->
                                    <!--<span class="s2">&yen;</span><span class="s1">2</span>														</div>-->
                                <!--<div class="pull-right smgray text-right">-->
                                    <!--<i class="icon-heart text-gray"></i> 0 人喜欢<br />-->
                                    <!--<i class="icon-bubble text-gray"></i> 0 条评论-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body pa_pic">-->
                            <!--<a href="/index.php?show&#45;&#45;cid-15-id-4.html"><img class="img-responsive center-block" src="/static/default/img/grey.gif" data-original="/upload/products/202006/30/0743265efa7c9e340ffVE0xee_thumb.png" alt="q" /></a>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<h4 class="title"><a href="/index.php?show&#45;&#45;cid-15-id-4.html">q</a></h4>-->
                            <!--<div class="clearfix">-->
                                <!--<div class="pull-left price">-->
                                    <!--<span class="s1">free</span>-->
                                <!--</div>-->
                                <!--<div class="pull-right smgray text-right">-->
                                    <!--<i class="icon-heart text-gray"></i> 0 人喜欢<br />-->
                                    <!--<i class="icon-bubble text-gray"></i> 0 条评论-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body pa_pic">-->
                            <!--<a href="/index.php?show&#45;&#45;cid-15-id-3.html"><img class="img-responsive center-block" src="/static/default/img/grey.gif" data-original="/upload/products/202006/30/0743015efa7c8514762kT1msM_thumb.png" alt="qqq" /></a>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<h4 class="title"><a href="/index.php?show&#45;&#45;cid-15-id-3.html">qqq</a></h4>-->
                            <!--<div class="clearfix">-->
                                <!--<div class="pull-left price">-->
                                    <!--<span class="s2">&yen;</span><span class="s1">1</span>														</div>-->
                                <!--<div class="pull-right smgray text-right">-->
                                    <!--<i class="icon-heart text-gray"></i> 0 人喜欢<br />-->
                                    <!--<i class="icon-bubble text-gray"></i> 0 条评论-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                    <!--<div class="panel panel-default">-->
                        <!--<div class="panel-body pa_pic">-->
                            <!--<a href="/index.php?show&#45;&#45;cid-15-id-2.html"><img class="img-responsive center-block" src="/static/default/img/grey.gif" data-original="/upload/products/202006/28/1740355ef8659346ed8knVQu6_thumb.jpg" alt="cs002" /></a>-->
                        <!--</div>-->
                        <!--<div class="panel-footer">-->
                            <!--<h4 class="title"><a href="/index.php?show&#45;&#45;cid-15-id-2.html">cs002</a></h4>-->
                            <!--<div class="clearfix">-->
                                <!--<div class="pull-left price">-->
                                    <!--<span class="s2">&yen;</span><span class="s1">33333</span>														</div>-->
                                <!--<div class="pull-right smgray text-right">-->
                                    <!--<i class="icon-heart text-gray"></i> 2 人喜欢<br />-->
                                    <!--<i class="icon-bubble text-gray"></i> 0 条评论-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>


            <div class="text-center">
               {$pageShow | raw}
            </div>
            <!--<div class="text-center">-->
                <!--<div class="pagination">-->
                    <!--<li><a href="/index.php?cate&#45;&#45;cid-15-page-1.html">&#171;</a></li>-->
                    <!--<li><a href="/index.php?cate&#45;&#45;cid-15-page-1.html">1</a></li>-->
                    <!--<li class="active"><a href="javascript:;">2</a></li>-->
                    <!--<li><a href="/index.php?cate&#45;&#45;cid-15-page-3.html">3</a></li>-->
                    <!--<li><a href="/index.php?cate&#45;&#45;cid-15-page-3.html">&#187;</a></li>-->
                <!--</div>-->
            <!--</div>-->

        </div>
        <div class="col-sm-3">
            <div class="list-group">
                <a class="list-group-item active disabled " href="javascript:;">资源分类</a>

                <?php foreach($category as $v):?>
                <a class="list-group-item <?php echo $v['id']==$category_id ? 'list-group-item-success' : ''?>"
                   href="<?php echo url('/index/goods/search',['category_id' => $v['id']],false)?> ">

                    <span class="icon-list text-gray"></span>

                    {$v['cate_name']}
                </a>

                <?php endforeach;?>
            </div>
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">赞助资源</div>-->
                <!--<ul class="list-group"><script src="/upload/js/list_zanzhu.js"></script></ul>-->
            <!--</div>-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">热门下载</div>-->
                <!--<ul class="list-group">-->
                    <!--<li class="list-group-item"><span class="icon-circle-right text-gray"></span> <a href="/index.php?show&#45;&#45;cid-15-id-25.html" >bbb</a></li>-->
                    <!--<li class="list-group-item"><span class="icon-circle-right text-gray"></span> <a href="/index.php?show&#45;&#45;cid-15-id-10.html" >qqq</a></li>-->
                    <!--<li class="list-group-item"><span class="icon-circle-right text-gray"></span> <a href="/index.php?show&#45;&#45;cid-15-id-9.html" >qqq</a></li>-->
                    <!--<li class="list-group-item"><span class="icon-circle-right text-gray"></span> <a href="/index.php?show&#45;&#45;cid-15-id-8.html" >qqq</a></li>-->
                    <!--<li class="list-group-item"><span class="icon-circle-right text-gray"></span> <a href="/index.php?show&#45;&#45;cid-15-id-7.html" >qqq</a></li>-->
                    <!--<li class="list-group-item"><span class="icon-circle-right text-gray"></span> <a href="/index.php?show&#45;&#45;cid-15-id-6.html" >qqq</a></li>-->
                    <!--<li class="list-group-item"><span class="icon-circle-right text-gray"></span> <a href="/index.php?show&#45;&#45;cid-15-id-5.html" >qqq</a></li>-->
                    <!--<li class="list-group-item"><span class="icon-circle-right text-gray"></span> <a href="/index.php?show&#45;&#45;cid-15-id-4.html" >q</a></li>-->
                    <!--<li class="list-group-item"><span class="icon-circle-right text-gray"></span> <a href="/index.php?show&#45;&#45;cid-15-id-3.html" >qqq</a></li>-->
                    <!--<li class="list-group-item"><span class="icon-circle-right text-gray"></span> <a href="/index.php?show&#45;&#45;cid-15-id-2.html" >cs002</a></li>-->
                <!--</ul>-->
            <!--</div>-->
        </div>
    </div>
</div>
<div class="all bg-footer pad20 mt20" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Powered by <a href="http://www.wazyb.com/">源码交易平台_www.wazyb.com</a></p>
                <p>Copyright &copy; 2020 www.wazyb.com All Rights Reserved </p>
            </div>
            <div class="col-md-6 text-right hidden-xs">
                <p>源码交易平台_www.wazyb.com</p>
                <p>页面耗时0.6460秒, 内存占用819.81 KB, 访问数据库14次</p>
            </div>
        </div>
    </div>
</div>
<p id="back-to-top"><a href="#top"><span></span></a></p>

{/block}