
{extend name="index/layout/basic" /}


{block name="content"}

<nav class="navbar mr0 mb0 bg-header" id="navbar">
    <div class="container">
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topnav" aria-expanded="false"><span class="sr-only">Toggle navigation</span> <span class="icon-circle-down"></span></button>
            <a class="navbar-brand nopadding" href="http://www.wazyb.com/"><img src="/static/index/default/img/logo.png" alt="源码交易平台_www.wazyb.com"/></a>
        </div>
        <div class="collapse navbar-collapse" id="topnav">
            <ul class="nav navbar-nav" id="navbar-nav">
                <li class="active"><a href="http://www.wazyb.com/"><span class="icon-home"></span> 网站首页</a></li>
            </ul>
            <form role="search" class="navbar-form navbar-right search hidden-xs" method="GET" action="/index.php" id="search_form">
                <div class="input-group">
                    <input class="form-control" id="search_keyword" type="text" name="keyword" value="" aria-describedby="submitso" />
                    <input type="hidden" name="mid" value="2" />
                    <input type="hidden" name="u" value="search-index" />
                    <span class="input-group-btn"><button class="btn btn-default" type="submit"><i class="icon-search"></i></button></span>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="container mt20">
    <div class="row clearfix" style="padding-bottom:20px;">
        <div class="col-sm-2 mt20 mb20">
            <div class="list-group hidden-xs">
                <a href="#" class="list-group-item active disabled">管理导航</a>
                <a class="list-group-item" href="/index/user/register"><span class="icon-pencil"></span> 会员注册</a>
                <a class="list-group-item" href="/index/user/login"><span class="icon-enter"></span> 会员登陆</a>
                <a class="list-group-item" href="javascript:;" style="display:;height:5px;padding:0;background:#eee">&nbsp;</a>
                <a class="list-group-item" href="/index/user/logout"><span class="icon-exit"></span> 安全退出</a>
            </div>
        </div>
        <div class="col-sm-10 mt20">
            <div class="panel panel-default">
                <div class="panel-heading">会员注册</div>
                <div class="panel-body">
                    <form action="" id="regform" class="form-horizontal">

                        <div class="row">
                            <div class="col-sm-4 text-center">
                                <span class="icon-users text-ddd" style="font-size:128px;"></span>
                            </div>
                            <div class="col-sm-5">
                                <div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">用户名：</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control required" id="account" name="account" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">密　码：</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control required" id="password" name="password" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="" class="col-sm-3 control-label">确　认：</label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control required" id="repassword" name="repassword" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="message-text" class="col-sm-3 control-label">邀请码：<br/>（非必须）</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control " id="" name="invite_code" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="message-text" class="col-sm-3 control-label">验证码：</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <input maxlength="4" type="text" size="4" id="regcode" name="verify" class="form-control required" style="height:39px;"  />
                                                <span class="input-group-addon" style="padding: 0px!important;">
                                                    <img src="{:url('/index/user/verify',[], false)}"
                                                     onclick="this.src='<?php echo url('/index/user/verify',[], false); ?>?'+Math.random();" alt="captcha" />
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="submit"></label>
                                        <div class="col-sm-9">
                                            <input type="submit" class="btn btn-primary" id="submit" value="提交注册" /> <span class="text-warning" id="reg_warning"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="reg"></label>
                                        <div class="col-sm-9">
                                            <a href="/index/user/login"><span class="icon-user"></span>  已注册，立即登陆</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<footer class="footer mt20">
    <div class="container">
        <p class="text-center small">
            Copyright &copy; 2020 <a href="http://www.wazyb.com/">源码交易平台_www.wazyb.com</a> ALL RIGHT RESERVED
        </p>
    </div>
</footer>

<script>
    $(document).ready(function(){
        $("#submit").on('click', function () {
            var url = "/index/user/register";
            var param = $("#regform").serialize();
            $.ajax({
                type: 'post',
                url:  url,
                dataType: 'json',
                // cache : false,
                data : param,
                success : function (ret) {
                    console.log(ret);
                    if (ret.code == 0) {
                        layer.msg('注册成功',
                            {icon: 1,time: 2000,shade: 0.6},
                            function(){
                                window.location = "{:url('/index/user/index',[], false)}";
                            }
                        );
                    } else {
                        layer.msg(ret.msg);
                        return false;
                    }


                },
                error : function (html) {
                    layer.alert("提交数据失败，代码:" + html.status + "，请稍候再试", {icon : 0,shade : 0.6});
                }
            });
            return false;
        });

        // ppAjax.submit("#regform", function(data){
        //     ppAjax.alert(data);
        //     if(window.ppData.err==0) {
        //         layer.msg(window.ppData.msg, {icon: 1,time: 2000,shade: 0.6}, function(){window.location = memurl;});
        //     }else{
        //         layer.msg(window.ppData.msg, function(){});
        //     }
        // });
    });
</script>


{/block}