<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人中心_源码交易平台_ - 源码交易平台</title>
    <meta name="keywords" content="虚拟交易系统,付费下载系统," />
    <meta name="description" content="数字化内容交易系统、源码/素材/模板交易系统、付费下载系统" />
    <link rel="stylesheet" href="/static/index/default/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/index/default/css/me.css" />
    <link rel="stylesheet" href="/static/index/icomoon/style.css" />
    <script src="/static/index/default/js/jquery.js"></script>
    <script src="/static/index/default/js/bootstrap.min.js"></script>
    <script>var webdir = '/' , weburl = '/', memurl = '/index/user/index';</script>
    <script src="/static/index/js/layer/layer.js"></script>
    <!--<script src="/static/index/default/js/all.js"></script>-->
    <script src="/static/admin/layer/layer.js"></script>
    <!--[if lt IE 9]>
    <script src="/static/index/default/js/html5.js"></script>
    <script src="/static/index/default/js/respond.min.js"></script>
    <![endif]-->

    {block name="style"}

    {/block}
</head>
<body>

<?php
    $uid = session('user_id');
    if (empty($uid)) {
        $uid = 0;
        $userIndexData = [];
    } else {
        $userIndexData = \app\model\User::where("id", '=', $uid)->find();
    }

?>

<div class="container bg-white">
    <div class="row">
        <div class="col-sm-4 hidden-xs">
            <a class="nopadding" href="/"><img src="/static/index/default/img/logo2.png" alt="源码交易平台_www.wazyb.com"/></a>
        </div>

        <div class="col-xs-12 col-sm-8 text-right" id="memnav">
            <a href="/index/user/topUp"><span class=""></span> 充值 </a>
            <a href="/index/user/withdraw"><span class=""></span> 提现 </a>
            <a href="/index/user/orderRecord"><span class=""></span> 交易记录 </a>
            <a href="/index/goods/publishLst"><span class=""></span> 我的发布 </a>
            <a href="/index/user/promotion"><span class=""></span> 推广 </a>
            <a href="/index/user/feedbackConsult/index"><span class=""></span> 意见反馈 </a>
            <a href="/index/user/useInfo"><span class=""></span> 使用说明 </a>

        <?php if ($uid > 0):?>

            <a href="javascript:;">您好，<strong>{$userIndexData['account']}</strong> </a>
            <a href="/index/user/index"><span class="icon-users"></span>管理中心</a>
            <a href="/index/user/logout"><span class="icon-switch"></span> 退出</a>


        <?php else: ?>

            <a href="/index/user/register" rel="nofollow"><span class="icon-pencil"></span> 注册</a>
            <a href="/index/user/login" rel="nofollow"><span class="icon-users"></span> 登录</a>

        <?php endif;?>
        </div>
    </div>
</div>

<div>
    {block name="content"}

    {/block}
</div>



{block name="script"}
{/block}

</body>
</html>