<div class="col-sm-2 mt20 mb20">
    <div class="list-group">
        <a href="#" class="list-group-item active disabled">管理导航</a>
        <a class="list-group-item  list-group-item-info" href="index.php?u=index-index"><span class="icon-home"></span> 会员首页</a>
        <a class="list-group-item" href="javascript:;" style="display:;height:5px;padding:0;background:#eee">&nbsp;</a>
        <a class="list-group-item " href="/index/goods/myBuy"><span class="icon-list"></span>  已购买的资源</a>
        <a class="list-group-item " href="/index/user/moneyFlow"><span class="icon-credit-card"></span>  资金流水</a>
        <a class="list-group-item " href="/index/user/topUp"><span class="icon-coin-yen"></span>  在线充值</a>
        <a class="list-group-item " href="/index/user/withdraw"><span class="icon-pig"></span>  快速提现</a>
        <a class="list-group-item" href="javascript:;" style="display:;height:5px;padding:0;background:#eee">&nbsp;</a>
        <a class="list-group-item " href="/index/user/changeProfile"><span class="icon-pencil"></span>  修改资料</a>
<!--        <a class="list-group-item " href="/index/user/changePassword"><span class="icon-key"></span>  修改密码</a>-->
<!--        <a class="list-group-item " href="index.php?u=comment-index"><span class="icon-bubble"></span>  我的评价</a>-->
        <a class="list-group-item" href="javascript:;" style="display:;height:5px;padding:0;background:#eee">&nbsp;</a>
        <a class="list-group-item" href="index.php?u=public-logout"><span class="icon-exit"></span> 安全退出</a>
    </div>
    <div class="input-group hidden-xs">
        <span class="input-group-addon"><span class="icon-yen text-success"></span></span>
        <input class="form-control" type="text" value="0.00" />
    </div>
</div>