{extend name="admin/layout/basic" /}

{block name="style"}
<style>
    .common_search {
        margin: 10px auto;
    }
    .page_size_select{
        width: 105px;
        float: right;
        display: inline-block;
        padding-left: 0;
        margin: 20px 10px;
        border-radius: 4px;
        padding: 6px 12px;
        /*text-align: right;*/
    }
    .common_search input,.common_search select{
        margin-bottom: 10px;
    }
</style>
{/block}

{block name="content"}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        订单列表
        <!--<small> <a href="/admin/goods/add" class="pull-right">用户添加</a></small>-->
    </h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="common_search">
        <form class="form-inline" action="/admin/order/lst" id="form_search">
            <input type="text" class="form-control" name="account" placeholder="用户名称" value="{:input('account')}">

            <input  type="hidden" name="page_size" id="cur_show_page" value="{$pageSize}"/>
            <input class="btn btn-flat btn-primary" type="submit" value="搜索">
        </form>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box" >
                <div class="box-header">
                    <h3 class="box-title">
                    </h3>
                </div>

                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>

                            <th style="text-align: center">ID</th>
                            <th style="text-align: center">商品名称</th>
                            <th style="text-align: center">买家</th>
                            <th style="text-align: center">卖家</th>
                            <th style="text-align: center">订单编号</th>
                            <th style="text-align: center">订单金额</th>
                            <th style="text-align: center">交易状态</th>
                            <th style="text-align: center">下单时间</th>

                            <th style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach($data as $v):?>
                        <tr style="text-align: center">
                            <td style="vertical-align: middle">{$v['id']}</td>
                            <td style="vertical-align: middle">{$v['goods_info']['goods_name']}</td>
                            <td style="vertical-align: middle">{$v['buy_username']}</td>
                            <td style="vertical-align: middle">{$v['sell_username']}</td>
                            <td style="vertical-align: middle">{$v['unique_code']}</td>
                            <td style="vertical-align: middle">{$v['order_money']}</td>
                           <td style="vertical-align: middle">
                               <?php
                                    if ($v['transaction_status'] == 1) {
                                        echo '交易中';
                                    } elseif ($v['transaction_status'] == 2) {
                                        echo '申诉中';
                                    } else {
                                        echo '已完成';
                                    }
                               ?>
                             </td>
                            <td style="vertical-align: middle">{$v['create_time']}</td>

                            <td style="vertical-align: middle">

                                <!--<a href="javascript:void(0)" data-id="{$v['id']}" class="cur_top_up btn btn-flat btn-warning btn-xs" title="移除">-->
                                    <!--充值-->
                                <!--</a>-->

                                <a href="<?php echo url('/admin/order/chatLst',['order_id'=>$v['id']], false);?>" data-id="{$v['id']}" class="cur_top_up btn btn-flat btn-warning btn-xs" title="移除">
                                    聊天记录
                                </a>

                                <!--<a href="<?php echo url('/admin/user/edit?id='.$v['id'],[], false); ?>" class="btn btn-flat btn-info btn-xs" title="编辑">-->
                                    <!--<i class="fa fa-edit"></i> 编辑-->
                                <!--</a>-->

                            </td>
                        </tr>
                        <?php endforeach;?>
                        </tbody>
                    </table>

                    <div>
                        {$pageShow|raw}
                        {$pageSizeSelect|raw}
                    </div>

                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
{/block}

{block name="script"}


<script>

    $(function () {


        /**
         * 切换展示状态
         */
        $(".change_show").on('click', function () {
            var id = $(this).attr('data-id');
            var url = "<?php echo url('/admin/user/changeShow',[],false);?>";
            change_show_status(url, id);
        });

        /**
         * 导出
         */
        $("select[name='export_data_change']").on('change', function () {
            var export_type = parseInt($(this).val());
            var url = "/admin/user/exportData?";
            switch (export_type) {
                case 0 :
                  break;
                case 1 :
                    var has_checked  = [];
                    $("input[name='multi_select[]']:checked").each(function () {
                        has_checked.push($(this).val());
                    });
                    var has_checked_str = has_checked.join(',');
                    if (has_checked_str == '' || has_checked_str.length == 0) {
                        alert('请勾选导出项！');
                        return false;
                    }
                    url = url + 'exportType=1&id=' + has_checked_str;
                    window.open(url);
                    break;
                case 2 :
                    var params = "<?php echo http_build_query(array_merge(request()->param(),['exportType' => 2]),'', '&'); ?>";
                    url = url + params;
                    window.open(url);
                    break;
            }
            $("select[name='export_data_change']").val(0);
            // $("select[name='export_data_change']").find("option[value='0']").attr('selected','selected');
            return false;
        });


        /**
         * 全选或全不选
         */
        $('.is_multi_select').on('click',function () {
            if ($(this).is(':checked')) {
                $("input[name='multi_select[]']").each(function () {
                    $(this).prop("checked","checked");
                });
            } else {
                $("input[name='multi_select[]']").each(function () {
                    $(this).prop('checked',false);
                });
            }
        });
        /**
         * 修改排序
         */
        $('.edit_sort_id').on('blur',function () {
            var id = $(this).attr('data-id');
            var sort_id = $.trim($(this).val());
            var url = '/admin/user/editSort';
            edit_sort(url, id, sort_id);
        });

        /**
         * 删除单个
         */
        $(".cur_del").on('click',function () {
            var id = $(this).attr('data-id');
            var url = "/admin/user/delete";
            delete_one(url, id);
        });



        /**
         * 批量删除
         */
        $('.multi_del').on('click',function () {
            var has_checked  = [];
            $("input[name='multi_select[]']:checked").each(function () {
                has_checked.push($(this).val());
            });
            var has_checked_str = has_checked.join(',');
            if (has_checked_str == '' || has_checked_str.length == 0) {
                alert('请勾选删除项！');
                return false;
            }
            var url = "/admin/user/delete";
            delete_multiply(url, has_checked_str);
        });

        // 修改每页显示数量
        $(".page_size_select").on('change',function() {
            var page_size = $(this).val();
            $('#cur_show_page').val(page_size);
            $('#form_search').trigger('submit');
            return false;
        });

    });



</script>
{/block}
