{extend name="admin/layout/basic" /}

{block name="style"}{/block}

{block name="content"}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        基本配置信息

    </h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <form class="form-horizontal" id="formSubmit" action="">

                        <input type="hidden" name="id" value="{$data.id}">



                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">每天发布数量限制(条)：</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" name="publish_limit_num" value="{$data['publish_limit_num']}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">多久后自动收货(天)：</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" name="auto_goods_day" value="{$data['auto_goods_day']}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">上传限制（M）：</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" name="upload_limit_size" value="{$data['upload_limit_size']}">
                            </div>
                        </div>




                        <div class="form-group">
                            <label for="" class="col-sm-2 control-label">用户发布商品是否需要审核</label>
                            <div class="col-sm-8">
                                <label class="radio-inline">
                                    <input type="radio" name="user_publish_audit" value="1" <?php echo $data['user_publish_audit'] == 1 ? 'checked="checked"' : '';?>  > 需要
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="user_publish_audit"  value="2"  <?php echo $data['user_publish_audit'] == 2 ? 'checked="checked"' : '';?>  > 不需要
                                </label>
                            </div>
                        </div>




                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="curSubmit btn btn-primary  btn-lg" >提交</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<div style="margin-bottom: 100px;"></div>
<!-- /.content -->
{/block}

{block name="script"}
<script>
    $(function () {
        $('.curSubmit').on('click',function () {


            var url = "/admin/baseConfig/edit";
            var form_param = $('#formSubmit').serialize();

            console.log(form_param);
            $.ajax({
                type: 'post',
                url:  url,
                dataType: 'json',
                data: form_param,
                success: function(ret){
                    console.log(ret);
                    if(ret.code == 0) {
                        layer.msg('编辑成功',{
                            time:1000,
                            icon: 6,
                            end:function () {
                                window.location.href = window.location.href;
                            }
                        })
                    } else {
                        layer.msg(ret.msg, {icon: 5,time:1000,});
                        return false;
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                    layer.msg(XMLHttpRequest.responseJSON.msg);
                    return false;

                }

            });
            return false;
        });

    })

</script>
{/block}
